<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{{ .Site.BaseURL }}"><span itemprop="name">Home</span></a>
      <meta itemprop="position" content="1">
    </li>
    {{ if .Parent }}
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{{ .Parent.Permalink }}"><span itemprop="name">{{ .Parent.Title }}</span></a>
      <meta itemprop="position" content="2">
    </li>
    {{ end }}
    {{ if not .IsHome }}
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <span itemprop="name">{{ .Title }}</span>
      <meta itemprop="position" content="{{ if .Parent }}3{{ else }}2{{ end }}">
    </li>
    {{ end }}
  </ol>
</nav>
