{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "{{ .Site.BaseURL }}#website",
      "url": "{{ .Site.BaseURL }}",
      "name": "{{ .Site.Title }}",
      "description": "{{ .Site.Params.description }}",
      "publisher": {
        "@id": "{{ .Site.BaseURL }}#person"
      }
    },
    {
      "@type": "Person",
      "@id": "{{ .Site.BaseURL }}#person",
      "name": "{{ .Site.Params.name }}",
      "givenName": "{{ .Site.Params.firstName }}",
      "familyName": "{{ .Site.Params.lastName }}",
      "url": "{{ .Site.BaseURL }}",
      "jobTitle": "{{ .Site.Params.tagline }}",
      "sameAs": [
        "https://github.com/{{ .Site.Params.githubUser }}",
        "https://linkedin.com/in/{{ .Site.Params.linkedinUser }}",
        "https://twitter.com/{{ .Site.Params.twitterHandle }}"
      ]
    }
  ]
}
</script>
{{ else if and .IsPage (eq .Section "blog") }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title }}",
  "description": "{{ .Description }}",
  "url": "{{ .Permalink }}",
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.name }}",
    "url": "{{ .Site.BaseURL }}"
  },
  "publisher": {
    "@type": "Person",
    "name": "{{ .Site.Params.name }}",
    "url": "{{ .Site.BaseURL }}"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  "wordCount": {{ .WordCount }},
  "keywords": [{{ range $i, $tag := .Params.tags }}{{ if $i }}, {{ end }}"{{ $tag }}"{{ end }}]
}
</script>
{{ else if and .IsPage (eq .Section "projects") }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CreativeWork",
  "name": "{{ .Title }}",
  "description": "{{ .Description }}",
  "url": "{{ .Permalink }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.name }}",
    "url": "{{ .Site.BaseURL }}"
  }
}
</script>
{{ else if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "{{ .Title }}",
  "description": "{{ .Description }}",
  "url": "{{ .Permalink }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.name }}",
    "url": "{{ .Site.BaseURL }}"
  }
}
</script>
{{ end }}
